:host {
  height: fit-content;
}

.content-container {
  padding: 32px;
  border: var(--border-width) solid var(--md-sys-color-outline-variant);
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: calc(var(--border-radius) * 4);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: var(--motion-time);
  transition-timing-function: var(--motion-function);


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #00000000;
    opacity: 0;
  }

  .icons {
    display: inline-flex;
    gap: 5px;
    font-size: 24px;
    color: var(--md-sys-color-on-surface-variant);
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;

    .tag {
      display: inline-flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 8px;
      color: var(--md-sys-color-on-surface-variant);
      border: var(--border-width) solid var(--md-sys-color-outline-variant);
      background-color: var(--md-sys-color-surface-container-high);
      width: fit-content;
      height: fit-content;
      border-radius: calc(var(--border-radius) * 4);
      height: 24px;
    }
  }

  .link-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    color: var(--md-sys-color-on-surface-variant);
    transition-property: color, gap;
    transition-duration: var(--motion-time);
    transition-timing-function: var(--motion-function);

    span {
      font-weight: var(--md-sys-typescale-label-medium-weight-prominent);
    }
  }

  .title {
    color: var(--md-sys-color-on-surface)
  }

  .description {
    color: var(--md-sys-color-on-surface-variant)
  }

}

a.content-container {
  text-decoration: none;
  cursor: pointer;
}
