.dark.brand1 {
  --md-sys-color-primary: rgb(255 180 169);
  --md-sys-color-surface-tint: rgb(255 180 169);
  --md-sys-color-on-primary: rgb(105 0 1);
  --md-sys-color-primary-container: rgb(255 85 67);
  --md-sys-color-on-primary-container: rgb(34 0 0);
  --md-sys-color-secondary: rgb(200 198 197);
  --md-sys-color-on-secondary: rgb(48 48 48);
  --md-sys-color-secondary-container: rgb(30 30 30);
  --md-sys-color-on-secondary-container: rgb(135 133 133);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(47 49 48);
  --md-sys-color-tertiary-container: rgb(226 226 225);
  --md-sys-color-on-tertiary-container: rgb(99 101 100);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(33 14 11);
  --md-sys-color-on-background: rgb(255 218 213);
  --md-sys-color-surface: rgb(33 14 11);
  --md-sys-color-on-surface: rgb(255 218 213);
  --md-sys-color-surface-variant: rgb(95 62 58);
  --md-sys-color-on-surface-variant: rgb(234 188 181);
  --md-sys-color-outline: rgb(176 135 129);
  --md-sys-color-outline-variant: rgb(95 62 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(255 218 213);
  --md-sys-color-inverse-on-surface: rgb(66 43 39);
  --md-sys-color-inverse-primary: rgb(192 0 5);
  --md-sys-color-primary-fixed: rgb(255 218 213);
  --md-sys-color-on-primary-fixed: rgb(65 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 169);
  --md-sys-color-on-primary-fixed-variant: rgb(147 0 3);
  --md-sys-color-secondary-fixed: rgb(229 226 225);
  --md-sys-color-on-secondary-fixed: rgb(27 27 28);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 197);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 70);
  --md-sys-color-tertiary-fixed: rgb(226 226 225);
  --md-sys-color-on-tertiary-fixed: rgb(26 28 28);
  --md-sys-color-tertiary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 71 71);
  --md-sys-color-surface-dim: rgb(33 14 11);
  --md-sys-color-surface-bright: rgb(75 51 48);
  --md-sys-color-surface-container-lowest: rgb(27 9 7);
  --md-sys-color-surface-container-low: rgb(42 22 19);
  --md-sys-color-surface-container: rgb(47 26 23);
  --md-sys-color-surface-container-high: rgb(59 36 33);
  --md-sys-color-surface-container-highest: rgb(71 47 43);
}
