/** Adapted from https://github.com/angular/material.angular.io/blob/main/src/highlightjs/material-light.scss */

.dark {
  --hljs-code-text-color: #CDD3D8;
  --hljs-code-selection: #3e4451;
  --hljs-code-comment-color: #9E9E9E;
  --hljs-code-selector-tag-color: #C792EA;
  --hljs-code-selector-class-color: #FFCB68;
  --hljs-code-selector-id-color: #F77669;
  --hljs-code-string-subst-color: #9ccc65;
  --hljs-code-number-variable-color: #F77669;
  --hljs-code-keyword-color: #C792EA;
  --hljs-code-function-name-color: #75A5FF;
  --hljs-code-tag-color: #ce93d8;
  --hljs-code-name-color: #4dd0e1;
  --hljs-code-type-color: #da4939;
  --hljs-code-attribute-color: #80CBBF;
  --hljs-code-link-symbol-color: #C792EA;
  --hljs-code-parms-color: #EEFFF7;
  --hljs-code-meta-color: #75A5FF;
  --hljs-code-title-color: #75A5FF;
  --hljs-code-section-color: #ffc66d;
}
