/** Adapted from https://github.com/angular/material.angular.io/blob/main/src/highlightjs/material-light.scss */

.light {
  --hljs-code-text-color: #37474f;
  --hljs-code-selection: #D6EDEA;
  --hljs-code-comment-color: #616161;
  --hljs-code-selector-tag-color: #9c27b0;
  --hljs-code-selector-class-color: #8796B0;
  --hljs-code-selector-id-color: #8796B0;
  --hljs-code-string-subst-color: #0d904f;
  --hljs-code-number-variable-color: #80CBC4;
  --hljs-code-keyword-color: #3b78e7;
  --hljs-code-function-name-color: #6182B8;
  --hljs-code-tag-color: #9c27b0;
  --hljs-code-name-color: #3b78e7;
  --hljs-code-type-color: #3b78e7;
  --hljs-code-attribute-color: #3b78e7;
  --hljs-code-link-symbol-color: #6182B8;
  --hljs-code-parms-color: #d81b60;
  --hljs-code-meta-color: #9c27b0;
  --hljs-code-title-color: #75A5FF;
  --hljs-code-section-color: #D6EDEA;
}
