.dark.brand2 {
  --md-sys-color-primary: rgb(109 220 142);
  --md-sys-color-surface-tint: rgb(109 220 142);
  --md-sys-color-on-primary: rgb(0 57 25);
  --md-sys-color-primary-container: rgb(49 164 93);
  --md-sys-color-on-primary-container: rgb(0 12 3);
  --md-sys-color-secondary: rgb(255 236 185);
  --md-sys-color-on-secondary: rgb(60 47 0);
  --md-sys-color-secondary-container: rgb(248 205 36);
  --md-sys-color-on-secondary-container: rgb(108 87 0);
  --md-sys-color-tertiary: rgb(140 218 105);
  --md-sys-color-on-tertiary: rgb(15 57 0);
  --md-sys-color-tertiary-container: rgb(107 182 74);
  --md-sys-color-on-tertiary-container: rgb(19 68 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 16);
  --md-sys-color-on-background: rgb(222 228 219);
  --md-sys-color-surface: rgb(15 21 16);
  --md-sys-color-on-surface: rgb(222 228 219);
  --md-sys-color-surface-variant: rgb(62 74 63);
  --md-sys-color-on-surface-variant: rgb(189 202 188);
  --md-sys-color-outline: rgb(136 148 135);
  --md-sys-color-outline-variant: rgb(62 74 63);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 219);
  --md-sys-color-inverse-on-surface: rgb(44 50 44);
  --md-sys-color-inverse-primary: rgb(0 109 54);
  --md-sys-color-primary-fixed: rgb(138 250 168);
  --md-sys-color-on-primary-fixed: rgb(0 33 12);
  --md-sys-color-primary-fixed-dim: rgb(109 220 142);
  --md-sys-color-on-primary-fixed-variant: rgb(0 82 39);
  --md-sys-color-secondary-fixed: rgb(255 224 127);
  --md-sys-color-on-secondary-fixed: rgb(35 27 0);
  --md-sys-color-secondary-fixed-dim: rgb(236 194 20);
  --md-sys-color-on-secondary-fixed-variant: rgb(86 69 0);
  --md-sys-color-tertiary-fixed: rgb(167 247 130);
  --md-sys-color-on-tertiary-fixed: rgb(6 33 0);
  --md-sys-color-tertiary-fixed-dim: rgb(140 218 105);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 82 0);
  --md-sys-color-surface-dim: rgb(15 21 16);
  --md-sys-color-surface-bright: rgb(52 59 53);
  --md-sys-color-surface-container-lowest: rgb(10 16 11);
  --md-sys-color-surface-container-low: rgb(23 29 24);
  --md-sys-color-surface-container: rgb(27 33 28);
  --md-sys-color-surface-container-high: rgb(37 44 38);
  --md-sys-color-surface-container-highest: rgb(48 54 48);
}
