@use './base.scss';
@use './modified.scss';

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .text-container {
    border: var(--border-width) solid var(--md-sys-color-outline-variant);
    border-radius: calc(var(--border-radius) * 4);
    padding: 20px;

    .italic {
      font-style: italic;
    }
  }


  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    border-radius: calc(var(--border-radius) * 2);
    padding: 12px 28px;
    transition-property: background-color, color, border-color;
    transition-duration: var(--motion-time);
    transition-timing-function: var(--motion-function);
    height: 48px;
    box-sizing: border-box;
    font-size: var(--md-sys-typescale-label-medium-size);
  }


  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
