:host {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-variant {
  color: rgb(50, 50, 50)
}

.buttons {
  display: flex;
  gap: 12px;
}
